@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#advice {
  background-color: hsl(217, 19%, 24%);
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  padding: 40px;
  max-width: 550px;
  position: relative;
}
#adviceNumber {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.8rem;
}
#adviceText {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  margin: 30px 0;
}
#break {
  margin: 20px 0;
  max-width: 100%;
}
#break > img {
  max-width: 100%;
}
#dice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(150, 100%, 66%);
  height: 80px;
  width: 80px;
  border-radius: 50rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
#dice:hover {
  box-shadow: 0 0 20px hsla(150, 100%, 66%, 80);
}
#attribution {
  position: absolute;
  bottom: 20px;
  color: hsl(193, 38%, 86%);
  font-size: 11px;
  text-align: center;
}
#attribution a {
  color: hsl(150, 100%, 66%);
}
@media (max-width: 578px) {
  #advice {
    width: 100%;
    margin: 20px;
  }
}
